{% extends 'main/home.html' %}

{% block title %} Centre of Smart Systems {% endblock %}

{% block content %}
    <center>
    <h1>Delete Form</h1>
    <br>
    <br>
    <p>Are you Sure want to delete "{{delete_video_name}}" ?</p>
    <br>
    <br>
    <form action="{% url 'deleteList' %}?video={{delete_video_name}}" method="POST">
        {% csrf_token %}
        <a href="{% url 'videoList' %}">
        <input type="button" value="Cancel" class="btn btn-primary"/></a>
        <input type="submit" value="Confirm" class="btn btn-primary"/>
    </form>
    </center>
{% endblock %}